#apache rewrite rules with apache configuration directives
#url mapping with php files
#all url requests go through index.php

RewriteEngine On
RewriteCond &{REQUEST_FILENAME} !-f
RewriteCond &{REQUEST_FILENAME} !-d
RewriteCond &{REQUEST_FILENAME} !-l
RewriteRules . index.php [L]
